.navbar {
    background: #b1b7d8;
    height: 15%;
    border-radius: 0px;
}
.butt_1 {
    background: #b1b7d8;

    color: #505050;
    font-size: 140%;

    border-left-style: solid;
    border-right-style: solid;
    border-left-color:#5f5f5f;
    border-right-color:#5f5f5f;
    border-width: thin;

    height: 100%;
}
.butt_2 {
    background: #b1b7d8;

    color: #505050;
    font-size: 140%;

    border-left-style: solid;
    border-left-color:#5f5f5f;
    border-width: thin;

    height: 100%;
}
.butt-nest {
    margin-top: 5vh;
}
.butt_1:hover {
    background: #7b82a5;
    color: white;
}
.butt_2:hover {
    background: #7b82a5;
    color: white;
}
body, html {
    height: 100%;
}

.menu_1 {
    font-size: 200%;
    color:  #505050;
    margin: 0px;
    padding-top: 100px;
    height: 100%;
}
.menu_1:hover {
    color:  white;
    background: #7b82a5;
}
.menu_2:hover {
    color:  white;
    background: #7b82a5;
}
.menu_2 {
    font-size: 200%;
    color:  #505050;
    margin: 0px;
    padding-top: 100px;
    height: 100%;
}
.row_menu {
    height: 400px;
 }
 .block_trans {
    border-style: solid;
    border-top-color: #e4e4e4;
    border-left-color: #e4e4e4;
    border-right-color: grey;
    border-bottom-color: grey;
    margin: 5px;
 }
.block_trans:hover {
    background: #efefef;
}
 .type_in {
    color: green;
 }

 .type_out {
    color: red;
 }

 .block_base {
    background: #f9f8f8;
    padding: 5px;
 }
 .tran_head {
    color: grey;
 }
.navig {
    margin:5px;
}
.form_add {
    margin:5px;
}
.form_reg {
    margin:10px;
}
h1 {
    padding-left: 15px;
}
.error {
    color: red;
}
.help {
    color: grey;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.glyphicon {
    font-size: 20px;
}

.glyphicon:hover {
    color: #340471;
}

a:hover {
    text-decoration: none;
}

.glyphicon-chevron-left {
    color: #b1b7d8;
}

.glyphicon-chevron-right {
    color: #b1b7d8;
}

.glyphicon-arrow-left {
    color: #505050;
}

.block-doc {
    height:200px;
    position:relative;
}

#doc {
    position: absolute;
    height: 100%;
}

.tags {
    color: #7b82a5;
    border-style: solid;
    border-color: #7b82a5;
    border-radius: 5px;
    margin: 3px;
    padding: 2px;
    border-width: thin;
}