{% extends "base.html" %}
{% block title %} Список транзакций {% endblock title%}
{% block content %}

{% for t in trs %}
   {% include 'trans.html' with t=t %}
{% endfor %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="/trans/p/{{ page_obj.previous_page_number }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="/trans/p/{{ page_obj.next_page_number }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content%}
