{% extends "base.html" %}
{% block title %} Главная {% endblock title%}
{% block content %}
    <div class="row row_menu">
        <a href="../trans/add/">
            <div align="center" class="col-md-6 menu_1">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <p>Добавить</p> <p>запись</p>
            </div></a>

        <a href="../trans">
            <div align="center" class="col-md-6 menu_2">
                <span class="glyphicon glyphicon-tasks"></span>
                <p>Список</p>
            </div></a>
    </div>
{% endblock content%}